.header-section{
    position: relative;
}

.main-section{
    margin: 60px auto;
}

.main-section h1{
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--text-color);
}

.address-container{
    width: 100%;
    background-color: var(--gray-color);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.address-container h2{
    color: var(--light-color);
}

.address-overview{
    width: 100%;
    color: var(--text-color);
}

.address-overview h3{
    width: 100%;
    margin: 8px 0;
}

.address-container h3:last-child{
    font-weight: 600;
    font-size: 16px;
}

.products-container{
    width: 100%;
    background-color: var(--gray-color);
    padding: 20px;
    box-sizing: border-box;
    color: var(--text-color);
    margin-bottom: 20px;
}

.products-title-bar{
    width: 100%;
    display: flex;
    margin-bottom: 16px;
}
.products-title-bar div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-title-bar div:first-child{
    width: 85%;
}
.products-title-bar div:last-child{
    width: 15%;
}

.products-item{
    width: 100%;
    display: flex;
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--blur-color);
}

.products-item:last-child{
    border: none;
}

.products-image{
    width: 15%;
    border: 1px solid var(--blur-color);
    box-sizing: border-box;
}

.products-image img{
    width: 100%;
}

.products-info{
    width: 70%;
    padding: 0 40px;
    font-size: 20px;
}
.products-info div{
    max-width: 100%;
    margin-bottom: 4px;
}

.products-nameset{
    width: 100%;
    font-size: 24px;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    margin-bottom: 12px;
}

.products-price{
    width: 15%;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
}

.checkout-container{
    width: 100%;
    background-color: var(--gray-color);
    box-sizing: border-box;
    padding: 20px;
    color: var(--text-color);
}

.payment-method-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.payment-method-box{
    display: flex;
    align-items: center;
}

.payment-method-box div{
    padding: 0 40px;
    font-weight: 700;
}

.payment-method-action{
    color: var(--light-color);
    border: 1px solid var(--light-color);
    background-color: transparent;
    padding: 8px 40px;
    transition: 0.2s;
}

.payment-method-action:hover{
    background-color: var(--light-color);
    color: var(--gray-color);
}

.payment-money-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.payment-money-container h3{
    margin-right: 40px;
}

.payment-money-container h2{
    color: var(--light-color);
    font-size: 36px;
}

.payment-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.payment-button-container button{
    padding: 8px 48px;
    border: 1px solid var(--text-color);
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 32px;
    cursor: pointer;
    transition: 0.2s;
}

.payment-button-container button:hover{

    color: var(--gray-color);
    background-color: var(--text-color);
}
